@font-face {
    font-family: Cairo;
    src: url(/static/Cairo/Cairo-VariableFont_slnt\,wght.ttf);
}

body {
    background-image: url(/static/images/screenshot.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
    -webkit-user-select: none;
    user-select: none;
    
    font-family: Cairo;
}

/* Vitals */

.vitals {
    position: absolute;
    bottom: 25px;
    
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

.anchor-left {
    left: 40px;
    flex-direction: row;
}

.anchor-right {
    right: 90px;
    flex-direction: row-reverse;
}

.vital {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;

    font-size: 2rem;

    width: -moz-fit-content;
    width: fit-content;
    height: 40px;
    padding: 10px;
    border-radius: 3px;
    
    color: hsl(50, 75%, 52%);
    background-color: hsl(0 0% 0% / 40%);
}

.vital > .descriptor {
    align-self: end;

    font-size: .5em;
}

.vital > .value {
    font-size: 1em;
    font-weight: 500;
}

.vital > .maxValue {
    margin-left: 1em;
    align-self: end;

    font-size: .5em;
    font-weight: 500;
}

/* Weapons */

.weapons {
    --category-gap: 5px;

    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 5px;

    position: absolute;
    top: 20px;
    left: 20px;
}

.weapon-category {
    --slot-base-size: 1.5vw;
    --slot-gap: 5px;

    display: flex;
    flex-direction: column;
    align-items: start;

    width: var(--slot-base-size);
}

.weapon-category:hover, .weapon-category.active {
    width: 10vw;
}

.weapon-category-number {
    width: var(--slot-base-size);
    height: var(--slot-base-size);
    margin-bottom: 0;

    font-size: 1rem;
    
    background-color: white;
    color: black;
}

.weapon-slot {
    width: inherit;
    height: var(--slot-base-size);
    margin-bottom: var(--slot-gap);

    font-size: 0;
    color: white;

    background-color:hsl(0 0% 0%)
}

.weapon-category:hover > .weapon-slot, .weapon-category.active > .weapon-slot {
    height: calc(2*var(--slot-base-size) + var(--slot-gap));

    font-size: 1rem;
}

.weapon-slot.selected {
    background-color: red;
}